body {
    color: white;
    font-size: 12px;
    background: black;
    line-height: 1px;

}
#input {
    display: flex;
    justify-content: normal;
}
input {
    background: none;
    border: none;
    color: white;
    width: 100%;
    overflow: scroll;
}